CV_2/Описание.txt
CV_2/CV_2.7z
CV_2/main_1.py
CV_2/main_11.py
CV_2/main.py
CV_2/main.zip
CV_2/traffic1.avi
CV_2/traffic2.avi
CV_2/traffic3.avi
CV_2/work.mp4
program/Вариации 1 картинки.png
program/Вариации 2 картинки.png
program/Вариации 3 картинки.png
program/ДЗ2 Усов ФЗ-11.zip
program/Меню приложения.png
program/Сохранение файла.png
program/Blue.jpg
program/field_WB.png
program/field.png
program/moon.jpg
program/OCV_1.py
program/office_WB.png
program/office.png
program/rgb.png
program/Untitled_WB.png
program/Untitled.png
Практка 1/_MG_4537_1.jpg
Практка 1/1.dicom.gauss_test.jpg
Практка 1/1a1914d73db71fe4c2266c08474f9213.jpg
Практка 1/02_-136mrFY.jpg
Практка 1/4014ef9924755482e255c27e298f02b9.jpg
Практка 1/cat.jpg
Практка 1/denoised_kisa.jpg
Практка 1/floodfill_test.jpg
Практка 1/gauss_noise_test.jpg
Практка 1/gogh.jpg
Практка 1/kisa.jpg
Практка 1/kisa.mp4
Практка 1/log_test.jpg
Практка 1/meanshift_test.jpg
Практка 1/noised_kisa.jpg
Практка 1/output.png
Практка 1/prewitt_test.jpg
Практка 1/roberts_test.jpg
Практка 1/saltnpepper_test.jpg
Практка 1/sobel_test.jpg
Практка 1/test.jpg
Практка 1/threshold_test.jpg
